@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'MyriadPro', sans-serif !important;
  }
}

body {
  font-family: 'MyriadPro', sans-serif;
  font-weight: 600;
}

/* TAILWIND CSS EDIT START */

.max-w-7xl {
  max-width: 85rem;
}

/* TAILWIND CSS EDIT END */

/* CLASS VARIABLE START */

.page-title {
  @apply flex justify-between;
}

.page-title h1 {
  @apply font-Bebas text-[22px] sm:text-[44px];
}

.page-title span {
  @apply text-neutral-600;
}

.page-title a {
  @apply flex items-center text-sm text-neutral-500 transition-all duration-300 ease-in-out hover:text-neutral-700 sm:text-lg;
}

.btn {
  @apply cursor-pointer bg-black py-2.5 px-4 text-white;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.9);
  transition: all 0.3s ease-in-out;
}

.bottom-20-1 {
  bottom: 20%;
}

.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.font-Inter {
  font-family: 'Inter', sans-serif;
}

.font-Bebas {
  font-family: 'BEBASNEUE';
}

.product-shadow:hover {
  filter: drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.14));
}

.checkout-radio input:checked + .checkout-card {
  border: 2px solid #016059;
}

.category-radio input:checked + .category-card {
  border: 2px solid #000000;
}

.checkout-radio input:checked + .checkout-card h4 {
  color: #016059;
}

.checkout-radio-color input:checked + .checkout-card-color {
  border: 3px solid #016059;
}
.accordion-checkbox input:checked + .accordion-card {
  height: 125px !important;
}

#product select {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  background: url('http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png')
    no-repeat right #ddd;
}

#product select::-ms-expand {
  display: none !important;
  background-color: #016059 !important;
}

.active {
  @apply text-red-600;
}

ul {
  display: block;
  list-style-type: disc;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

.css-1nxb8fi-control {
  @apply max-w-[184px];
  border: 2px solid #434343 !important;
  background: #f0f0f0 !important;
  padding: 2px;
}

.css-1disym4-control {
  border-width: 2px !important;
  padding: 2px;
}

span.css-1okebmr-indicatorSeparator {
  display: none;
}

svg.css-tj5bde-Svg {
  color: #434343;
}

figure {
  @apply overflow-hidden rounded-lg;
}
figure:hover + span {
  bottom: -36px;
  opacity: 1;
}

/* CLASS VARIABLE END */

/* COMPONENTS START */

/* HEADER COMPONENTS START */

select:focus-visible {
  outline: none;
}

.header-shadow {
  box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.2);
}

.navbar-mobile {
  @apply absolute left-0 z-10 h-screen w-4/5 bg-black opacity-0;
  transform: translateX(-100%);
  transition: all 0.5s ease-in-out;
}

.active-navbar-mobile {
  transform: translateX(0);
  opacity: 1;
}

/* HEADER COMPONENTS END */

/* CATALOG COMPONENTS START */

.Catalog-text-hover:hover {
  color: #434343;
}

.catalogAnimation {
  animation-name: example;
  animation-duration: 1s;
}

.catalogAnimationend {
  animation-name: exampleend;
  animation-duration: 1s;
}

@keyframes example {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes exampleend {
  0% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}

/* CATALOG COMPONENTS END */

/* INFO COMPONENTS START */

.info h2 {
  @apply font-Bebas;
}

/* INFO COMPONENTS END */

/* FOOTER COMPONENTS START */

.footer-menu {
  @apply bg-black text-white;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
}

.footer-social {
  @apply bg-black text-white;
  height: 60px;
}

.footer-social h4 {
  font-family: 'Inter', sans-serif;
}

/* FOOTER COMPONENTS END */
/* FORM START */

form input,
form textarea {
  @apply mt-2.5 rounded-sm py-[10px] px-4 text-lg placeholder:font-normal;
  color: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

form button {
  @apply font-medium;
}

form label {
  @apply mt-5 text-sm;
}

form input::placeholder {
  @apply text-lg;
}

form input:focus-visible {
  outline: black auto 1px;
}

.invalid {
  border: 1px solid #ee1313;
}

.form-title {
  @apply font-Bebas text-center text-[44px] text-black;
}

/* FORM END */

/* COMPONENTS END */

/* SLIDER HOME COMPONENTS START */

#product .swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
#product .swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  color: rgba(0, 0, 0, 0.25) !important;
}
#product .swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
#product .swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  font-size: 24px !important;
}
.dropdown:hover .dropdown-menu {
  display: block;
}

.SliderProduct .swiper-wrapper {
  height: 440px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-pagination-bullet {
  height: 15px !important;
  width: 15px !important;
  opacity: 1 !important;
  background: #cbcbcb !important;
  transition: all 0.3s ease-in-out;
  margin: 0 8px !important;
}
.swiper-pagination-bullet-active {
  width: 46px !important;
  height: 15px !important;
  border-radius: 15px !important;
  color: #fff;
  background: #fff !important;
}

.Recommendations .swiper-button-prev,
.SliderProduct .swiper-button-prev,
.Recommendations .swiper-button-next,
.SliderProduct .swiper-button-next {
  color: #6e6e73;
  background: transparent;
  width: 50px;
  height: 50px;
  border: 2px solid rgba(110, 110, 115, 0.5);
  border-radius: 50%;
  bottom: 0;
  top: 93%;
  z-index: 8 !important;
}

.Recommendations .swiper-button-prev:hover,
.SliderProduct .swiper-button-prev:hover,
.Recommendations .swiper-button-next:hover,
.SliderProduct .swiper-button-next:hover {
  background-color: rgba(129, 129, 129, 0.1);
  transition: all 0.3s ease-in-out;
}

.SliderProduct .swiper-button-prev,
.SliderProduct .swiper-button-next {
  top: 30px !important;
}

.Recommendations .swiper-button-next {
  left: 80px !important;
}

.SliderProduct .swiper-button-prev {
  left: auto !important;
  right: 80px !important;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  font-size: 18px !important;
}

/* SLIDER HOME COMPONENTS END */
/* CATEGORY COMPONENTS START */

::-webkit-scrollbar-track {
  background-color: transparent;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 5px;
  max-height: 10px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #00000080;
  max-height: 5px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.accordion {
  border: none !important;
}

.accordion__button {
  @apply relative !bg-white !p-0 !py-2.5 text-[20px] !text-black;
}

.accordion__button:before {
  @apply absolute right-0 top-[17px];
}

.accordion__item + .accordion__item {
  @apply !border-t-0;
}

.accordion__panel {
  @apply mb-10 !p-0;
}

/* CATEGORY COMPONENTS END */

@media only screen and (max-width: 640px) {
  .Recommendations .swiper-button-prev,
  .SliderProduct .swiper-button-prev,
  .Recommendations .swiper-button-next,
  .SliderProduct .swiper-button-next {
    width: 40px;
    height: 40px;
    top: 19px !important;
  }
  .swiper-pagination-bullet {
    height: 10px !important;
    width: 10px !important;
  }
  .swiper-pagination-bullet-active {
    width: 25px !important;
    height: 10px !important;
  }
}

@media only screen and (max-width: 768px) {
  .Recommendations .swiper-button-prev,
  .Recommendations .swiper-button-next {
    top: 27px;
  }
  .Recommendations .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    left: auto !important;
    right: 0 !important;
  }
  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    right: 60px !important;
    left: auto !important;
  }
  #product .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    right: 60px !important;
    left: 10px !important;
  }
}
